Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans.A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
A database is usually controlled by a database management system (DBMS).

SQL: SQL databases are primarily called Relational Databases (RDBMS)
SQL is one of the most versatile and widely-used options availabl
It requires you to use predefined schemas to determine the structure of your data before you work with it. Also, all of your data must follow the same structure. 
vertically scalable dbs
Good support available from vendors
SQL is a good choice when working with related data as info is provided in real time

EG: MySQL, PostgreSQL, Oracle, MS-SQL Server

NoSQL: NoSQL databases are primarily called non-relational or distributed databases. 
It has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store. 
This flexibility means that documents can be created without having a defined structure first as each document has its own unique structure.
Horizontally scalable
Rely on community for support
NoSQL is good when the availability of big data is more crucial and data sets are large and constantly changing

EG: CouchDB, MongoDB, and Amazon DocumentDB,

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. A data definition/description language (DDL) is a computer language used to create and modify the structure of database objects in a database. These datab
DROP TABLE command deletes a table in the database.ase objects include views, schemas, tables, indexes, etc.

CREATE DATABASE creates aa new databse if not exists
CREATE TABLE command creates a new table in the database.
EG:
CREATE DATABASE if not EXISTS test
CREATE TABLE if not exists test.test_table (c1 INT, c2 VARCHAR(50),c3 INT, c4 FLOAT,c5 VARCHAR(40))

DROP TABLE command deletes a table in the database.
Eg: 
DROP DATABASE test;

ALTER TABLE command adds, deletes, or modifies columns and constraints in a table.
Eg:
ALTER TABLE test
ADD Email varchar(100);


TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
Eg:
TRUNCATE TABLE c4;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans.
A data manipulation language (DML) has commands permitting users to manipulate data in a database. 
This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data.
DML is mostly incorporated in SQL databases.


INSERT
This command adds one or more records to a database table
Eg:
insert into test.test_table values(1, 'afsha aslam',41,344.56, 'Maharashtra')

UPDATE
This command modifies data of one or more records.
Eg:
UPDATE test
SET c2 = "Asna"
WHERE c3 is null;

 
DELETE
This command removes one or more records from a table according to specified conditions
Eg:
DELETE FROM test WHERE c1=2

Q4. What is DQL? Explain SELECT with an example.

Ans.
Data Query Languages are used to make various queries to the information system ans databases. Eg SQL
SELECT is the  most commonly used command in Structured Query Language.
t is used to access the records from one or more database tables and views. It also retrieves the selected data that follow the conditions we want.
Eg:
SELECT * from test
SELECT * from test WHERE c1='Afsha'
SELECT c1,c2 from test GROUPBY c2

Other conditional clauses are also used with SELECT statement like HAVING, ORDERBY.

Q5. Explain Primary Key and Foreign Key.
Ans. A primary key generally focuses on the uniqueness of the table. 
It assures the value in the specific column is unique.The table allows only one primary key.

A foreign key is generally used to build a relationship between the two tables.It is generally a column or group of columns in RDBMS

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute()
Ans.
cursor() :
A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.
are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

execute() :
This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation.

In [ ]:
##python code to connect MySQL to python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

Q7. Give the order of execution of SQL clauses in an SQL query.
Ans.The below is the order of execution of the SQL clause in sequence:
1 FROM
2 WHERE
3 GROUP BY
4 HAVING
5 SELECT
6 ORDER BY
7 LIMIT/OFFSET(to skip a specified number of rows